
         <footer class="container-fluid bg-light">
        <div class="row">
        <section class="col">
        col 1
        </section>
        <section class="col">
        col 2
        </section>
        <section class="col">
        col 3
        </section>
        </div>

        </footer>

